.sc-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--space-24) 0;

  .toolbar-print-button {
    display: flex;
    align-items: center;
    gap: var(--space-8);
    color: var(--font-color);
    opacity: 0.65;
    transition: opacity var(--transition-duration-fast) var(--transition-ease);

    &:hover {
      opacity: 1;
    }
  }
}
