html {
  height: 100%;
}

body {
  height: 100%;
  background-color: var(--theme-color-2);
  color: var(--font-color);
  font-family: var(--font-nunito);
  font-weight: var(--font-weight-normal);
  font-size: var(--font-size-13);
}

#not-found {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#app-layout {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: var(--space-12);
}

.sc-svg {
  vertical-align: initial;
  color: var(--theme-color-3);
}

.form-groups {
  display: flex;
  flex-direction: column;
  gap: var(--space-24);
}

.form-group {
  display: flex;
  gap: var(--space-24);
  width: 100%;
  align-items: flex-start;
}

.form-buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--space-24);
  margin-top: var(--space-24);
}
