[data-theme='dark'] {
  --theme-color-1: #121212;

  --theme-color-2: #1e1e1e;

  --theme-color-3: #e1e1e1;

  --theme-color-4: #b40000;

  --theme-color-5: #ad2435;

  --theme-color-6: #11c26d;

  --theme-color-7: #f89a09;

  --theme-color-8: #222222cc;

  --theme-color-9: #2d2d2d;

  --theme-color-10: #707070;

  --theme-color-11: #404040;

  --theme-color-12: #1a1b1b;

  --theme-color-13: #e1e1e121;

  --theme-color-14: #ffffff33;
}
