:root {
  --theme-color-1: #ffffff;

  --theme-color-2: #f8f8f8;

  --theme-color-3: #3e3e3e;

  --theme-color-4: #b40000;

  --theme-color-5: #ad2435;

  --theme-color-6: #11c26d;

  --theme-color-7: #f89a09;

  --theme-color-8: #ddddddcc;

  --theme-color-9: #e9e9e9;

  --theme-color-10: #a2a2a2;

  --theme-color-11: #bdbdbd;

  --theme-color-12: #ffffff33;

  --theme-color-13: #1b314221;

  --theme-color-14: #1a1b1b;
}
