.sc-table-container {
  padding: 0 !important;

  .sc-table-wrapper {
    width: 100%;
    overflow-x: auto;

    .sc-table {
      width: 100%;
      border-collapse: separate;
      border-spacing: 0;
      table-layout: revert-layer;
      font-size: var(--font-size-13);
      border-bottom: 1px solid var(--theme-color-9);
    }
  }

  &.empty {
    .table-head-row .head-actions-row {
      display: none;
    }
  }

  .table-head-row {
    .head-row {
      height: var(--size-50);
      padding: 0 var(--space-24);
      text-align: start;
      font-weight: var(--font-weight-medium);

      &:not(:last-child) {
        border-right: 1px solid var(--theme-color-9);
      }
    }
  }

  .table-row {
    .row-data {
      height: var(--size-50);
      padding: var(--space-12) var(--space-24);
      vertical-align: middle;
      border-top: 1px solid var(--theme-color-9);

      &:not(:last-child) {
        border-right: 1px solid var(--theme-color-9);
      }

      .empty-cell {
        width: var(--size-18);
        height: 2px;
        background-color: var(--theme-color-21);
        border-radius: var(--border-radius-low);
      }

      .color-cell {
        width: 12px;
        height: 12px;
        margin-left: var(--space-10);
        border-radius: 50%;
      }

      .actions-cell {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: var(--space-12);
      }

      .description-cell {
        display: -webkit-box;
        line-clamp: 2;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 200px;
      }
    }
  }

  .table-empty-content {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--font-color-secondary);
    padding: var(--space-24);
  }

  .table-pagination {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--space-24);

    .pagination-buttons {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: var(--space-12);

      .pagination-button {
        &.active svg {
          color: var(--theme-color-3);
        }

        &[disabled] svg {
          color: var(--theme-color-8) !important;
        }
      }
    }
  }
}
